@import "_global.scss";
@import "_fonts.scss";

// HEADER START
.header {
    background-image: url(../images/header/bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    &__top {
        background-color: rgb(33, 33, 33);
        opacity: 0.749;
    }
    &__top,
    &__top-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__top-wrapper + &__top-wrapper {
        margin-left: 10px;
    }
    &__top-adaptive {
        display: flex;
        align-items: center;
    }
    &__top-block--lnr {
        padding: 15px 25px;
    }
    &__top-lnr {
        font-size: 35px;
        font-weight: 600;
        color: #ffffff;
        cursor: pointer;
        position: relative;
        &:hover {
            color: #0194b6;
        }
    }
    &__top-name {
        font-size: 33px;
        line-height: 20px;
        font-family: "Poppins-Black";
        font-weight: 900;
        color: #ffffff;
        text-transform: uppercase;
        padding: 17px 20px;
        border-left: 1px solid #4c515b;
        border-right: 1px solid #4c515b;
    }
    &__top-list {
        display: flex;
        align-items: center;
        list-style: none;
        padding-left: 40px;
    }
    &__top-link {
        a {
            color: #ffffff;
            font-size: 13px;
            font-family: "Montserrat-SemiBold";
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    &__top-link + &__top-link {
        margin-left: 35px;
    }
    &__top-block--bag {
        padding: 25px 24px;
        border-left: 1px solid #4c515b;
        border-right: 1px solid #4c515b;
    }
    &__top-bag {
        display: block;
        background-image: url(../images/header/icons/cart.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        width: 25px;
        height: 26px;
    }
    &__top-search {
        font-size: 27px;
        font-weight: 600;
        color: #ffffff;
        padding: 25px 24px;
    }
}
.svg-top {
    padding: 6px 40px;
    border-left: 1px solid #4c515b;
    &__list {
        display: flex;
        list-style: none;
    }
    &__link {
        a {
            width: 28px;
            height: 28px;
            display: inline-block;
            background-image: url(../images/header/icons/css_sprites.png);
        }
    }
    &__facebook {
        background-position: -70px -3px;
    }
    &__twitter {
        background-position: -5px -40px;
    }
    &__google {
        background-position: -42px -2px;
    }
    &__instagram {
        background-position: -5px -5px;
    }
    &__link + &__link {
        margin-left: 45px;
    }
}
.drop {
    position: absolute;
    top: 6px;
    left: -25px;
    padding-top: 15px;
    &__list {
        width: 181px;
        background-color: #ffffff;
        padding: 20px 0 20px 25px;
    }
    &__link {
        position: relative;
        list-style: none;
        a {
            font-family: "Montserrat-SemiBold";
            color: #000000;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
                color: #0194b6;
            }
        }
    }
    &__link + &__link {
        margin-top: 25px;
    }
    &__down-list {
        position: absolute;
        top: -20px;
        left: 180px;
        width: 280px;
        background-color: #ffffff;
        padding: 25px 0;
    }
    &__down-list--information {
        top: -23px;
    }
    &__down-list--customer {
        top: -25px;
    }
    &__down-link {
        list-style: none;
        padding: 0 15px;
        a {
            color: #000000;
            font-family: "Montserrat-SemiBold";
            font-size: 16px;
            text-decoration: none;
        }
    }
    &__down-link + &__down-link {
        margin-top: 15px;
    }
}
.drop {
    display: none;
}
.header__top-lnr:hover .drop {
    display: block;
}
.drop__down {
    display: none;
}
.drop__link:hover .drop__down {
    display: block;
}
// HEADER END

// Media start
@media (max-width: 1320px) {
    .header__top-list {
        padding-left: 20px;
    }
    .header__top-link + .header__top-link {
        margin-left: 15px;
    }
    .svg-top__link + .svg-top__link {
        margin-left: 25px;
    }
}
@media (max-width: 1140px) {
    .header__top-lnr {
        font-size: 30px;
        padding: 15px 20px;
    }
    .header__top-name {
        font-size: 28px;
        padding: 20px 20px;
    }
    .header__top-list {
        padding-left: 20px;
    }
    .svg-top {
        padding: 10px 40px;
    }
    .svg-top__link a {
        width: 20px;
        height: 20px;
        background-size: 70px;
    }
    .svg-top__facebook {
        background-position: -50px -2px;
    }
    .svg-top__twitter {
        background-position: -3px -27px;
    }
    .svg-top__google {
        background-position: -28px -2px;
    }
    .svg-top__instagram {
        background-position: -3px -4px;
    }
    .header__top-block--bag {
        padding: 25px 20px;
    }
    .header__top-bag {
        background-size: 20px;
    }
    .header__top-search {
        font-size: 20px;
        padding: 25px 20px;
    }
    .drop {
        top: 25px;
    }
}
@media (max-width: 1050px) {
    .header__top {
        padding: 20px 10px 15px;
    }
    .header__top-wrapper--adaptive {
        width: 100%;
        margin-right: 150px;
    }
    .header__top-lnr {
        padding: 0;
    }
    .header__top-list {
        padding-left: 0;
        margin: 8px 8px 8px 0;
    }
    .header__top-wrapper {
        display: block;
    }
    .header__top-name {
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #4c515b;
        padding: 0;
    }
    .header__top-adaptive {
        justify-content: space-between;
    }
    .svg-top {
        padding: 0;
        border-left: none;
    }
    .svg-top__list {
        border-bottom: 1px solid #4c515b;
        padding-bottom: 5px;
        margin: 0;
        margin-bottom: 3px;
    }
    .header__top-block--bag {
        padding: 0 10px;
        border-left: none;
        border-right: none;
    }
    .header__top-search {
        padding: 0;
    }
    .drop {
        top: 50px;
        left: -35px;
    }
}
@media (max-width: 767px) {
    .header__top-wrapper--adaptive {
        margin-right: 20px;
    }
    .header__top-name {
        font-size: 26px;
    }
    .header__top-link a {
        font-size: 11px;
    }
    .header__top-bag {
        background-size: 17px;
    }
    .header__top-search {
        font-size: 17px;
    }
    .header__top-block--bag {
        padding: 0;
    }
    .svg-top__link + .svg-top__link {
        margin-left: 10px;
    }
}
@media (max-width: 510px) {
    .header__top-list {
        display: none;
    }
    .header__top-lnr {
        font-size: 25px;
    }
    .header__top-name {
        font-size: 22px;
    }
    .header__top-block--lnr {
        padding: 15px 0px;
    }
    .drop {
        top: 18px;
        left: -10px;
    }
    .drop__list {
        width: 130px;
        padding: 10px 0 10px 15px;
    }
    .drop__link a {
        font-size: 12px;
    }
    .drop__down-list {
        top: -10px;
        left: 130px;
        width: 158px;
        padding: 10px 0;
    }
    .drop__down-link a {
        font-size: 10px;
    }
    .drop__link+.drop__link {
        margin-top: 10px;
    }
    .drop__down-link+.drop__down-link {
        margin-top: 5px;
    }
    .drop__down-list--information {
        top: -10px;
    }
}
@media (max-width: 350px) {
    .header__top-name {
        font-size: 15px;
        margin-left: 10px;
    }
    .drop__list {
        width: 110px;
        padding: 10px 0 10px 10px;
    }
    .drop__link a {
        font-size: 10px;
    }
}
.drop__down-list {
    left: 110px;
}
// Media end
